
@divactionsh3-color: #777;
@white-color: #fff;
@paging-color: #ccc;
@paginghoverbackground-color: #efefef;
@fieldsetlegend-color: #e32;
@formsubmitinputbackground-color: #62af56;
@formbackgroundimagefrom-color: #76BF6B;
@formbackgroundimageto-color: #3B8230;
@formborder-color: #2d6324;
@formtext-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
@formsubmithoverbackground-color: #5BA150;
@formerrorbackground-color: #FFDACC;
@formerrormessage-color: #9E2424;
@errormessagebackground-color: #ffcc00;
@errormessagebackgroundimagefrom-color: #ffcc00;
@errormessagebackgroundimageto-color: #E6B800;
@errormessagetextshadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
@inputactionsabackgroundimagefrom-color: #fefefe;
@inputactionsabackgroundimageto-color: #dcdcdc;

/** containers **/
div.form,
div.index,
div.view {
  float:right;
  /*float:left;*/
  /*width:76%;*/
  width:95%;
  /* border-left:1px solid #666;*/
  padding:10px 2%;
}
div.actions {
  float:left;
  width:16%;
  padding:10px 1.5%;
}
div.actions h3 {
  padding-top:0;
  color:@divactionsh3-color;
}




/* SQL log */
.cake-sql-log {
  background: @white-color;
}
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
  font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
  color: @white-color;
}

/** Paging **/
.paging {
  background:background-color;
  color: @paging-color;
  margin-top: 1em;
  clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block
}
.paging > span {
  display: inline-block;
  border: 1px solid #ccc;
  border-left: 0;
}
.paging > span:hover {
  background: @paginghoverbackground-color;
}
.paging .prev {
  border-left: 1px solid #ccc;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.paging .next {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.paging .disabled {
  color: #ddd;
}
.paging .disabled:hover {
  background: transparent;
}
.paging .current {
  background: @paginghoverbackground-color;
  color: #c73e14;
}

/** Scaffold View **/
dl {
  line-height: 2em;
  margin: 0em 0em;
  width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
  background: #f4f4f4;
}

dt {
  font-weight: bold;
  padding-left: 4px;
  vertical-align: top;
  width: 10em;
}
dd {
  margin-left: 10em;
  margin-top: -2em;
  vertical-align: top;
}

/** Forms **/
form {
  clear: both;
  margin-right: 20px;
  padding: 0;
  width: 95%;
}
fieldset {
  border: none;
  margin-bottom: 1em;
  padding: 16px 10px;
}
fieldset legend {
  color: @fieldsetlegend-color;
  font-size: 160%;
  font-weight: bold;
}
fieldset fieldset {
  margin-top: 0;
  padding: 10px 0 0;
}
fieldset fieldset legend {
  font-size: 120%;
  font-weight: normal;
}
fieldset fieldset div {
  clear: left;
  margin: 0 20px;
}
form div {
  clear: both;
  margin-bottom: 1em;
  padding: .5em;
  vertical-align: text-top;
}
form .input {
  color: #444;
}
form .required {
  font-weight: bold;
}
form .required label:after {
  color: @fieldsetlegend-color;
  content: '*';
  display:inline;
}
form div.submit {
  border: 0;
  clear: both;
  margin-top: 10px;
}
label {
  display: block;
  font-size: 110%;
  margin-bottom:3px;
}
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 1%;
  width:98%;
}
select {
  clear: both;
  font-size: 120%;
  vertical-align: text-bottom;
}
select[multiple=multiple] {
  width: 100%;
}
option {
  font-size: 120%;
  padding: 0 3px;
}
input[type=checkbox] {
  clear: left;
  float: left;
  margin: 0px 6px 7px 2px;
  width: auto;
}
div.checkbox label {
  display: inline;
}
input[type=radio] {
  float:left;
  width:auto;
  margin: 6px 0;
  padding: 0;
  line-height: 26px;
}
.radio label {
  margin: 0 0 6px 20px;
  line-height: 26px;
}
input[type=submit] {
  display: inline;
  font-size: 110%;
  width: auto;
}
form .submit input[type=submit] {
  background:@formsubmitinputbackground-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@formbackgroundimagefrom-color), to(@formbackgroundimageto-color));
  background-image: -webkit-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  background-image: -moz-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  border-color: @formborder-color;
  color: @white-color;
  text-shadow: @formtext-shadow;
  padding: 8px 10px;
}
form .submit input[type=submit]:hover {
  background: @formsubmithoverbackground-color;
}
/* Form errors */
form .error {
  background: @formerrorbackground-color;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
}
form .error-message {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  background: none;
  margin: 0;
  padding-left: 4px;
  padding-right: 0;
}
form .error,
form .error-message {
  color: @formerrormessage-color;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/** Notices and Errors **/
.message {
  clear: both;
  color: @white-color;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  background: @errormessagebackground-color;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, @errormessagebackgroundimagefrom-color, @errormessagebackgroundimageto-color);
  background-image: -ms-linear-gradient(top, @errormessagebackgroundimagefrom-color, @errormessagebackgroundimageto-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@errormessagebackgroundimagefrom-color), to(@errormessagebackgroundimageto-color));
  background-image: -webkit-linear-gradient(top, @errormessagebackgroundimagefrom-color, @errormessagebackgroundimageto-color);
  background-image: -o-linear-gradient(top, @errormessagebackgroundimagefrom-color, @errormessagebackgroundimageto-color);
  background-image: linear-gradient(top, @errormessagebackgroundimagefrom-color, @errormessagebackgroundimageto-color);
  text-shadow: @errormessagetextshadow;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
  clear: both;
  color: @white-color;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
  clear: both;
  color: @white-color;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: @formbackgroundimageto-color;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@formbackgroundimagefrom-color), to(@formbackgroundimageto-color));
  background-image: -webkit-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  background-image: -moz-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  background-image: -ms-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  background-image: -o-linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  background-image: linear-gradient(top, @formbackgroundimagefrom-color, @formbackgroundimageto-color);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}
p.error em {
  font-weight: normal;
  line-height: 140%;
}
.notice {
  color: #000;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}
.success {
  color: @white-color;
}

/**  Actions  **/
.actions ul {
  margin: 0;
  padding: 0;
}
.actions li {
  margin:0 0 0.5em 0;
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
}
.actions ul li a {
  font-weight: normal;
  display: block;
  clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
  font-weight:normal;
  padding: 4px 8px;
  background: @inputactionsabackgroundimageto-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@inputactionsabackgroundimagefrom-color), to(@inputactionsabackgroundimageto-color));
  background-image: -webkit-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -moz-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -ms-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -o-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  color:#333;
  border:1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: @white-color 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
  background: #ededed;
  border-color: #acacac;
  text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
  background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
  background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
  background-image: -o-linear-gradient(top, #dfdfdf, #eee);
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0px 1px 0px;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/** Related **/
.related {
  clear: both;
  display: block;
}

/** Debugging **/
pre {
  color: #000;
  background: #f0f0f0;
  padding: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
  padding: 0;
  position: relative;
}
.cake-debug-output > span {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  color: #000;
  display: block;
  float: left;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
  font-size: 16px;
  line-height: 20px;
  clear: both;
}
.cake-error > a {
  text-shadow: none;
}
.cake-error {
  white-space: normal;
}
.cake-stack-trace {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  margin: 10px 0 5px 0;
  padding: 10px 10px 0 10px;
  font-size: 120%;
  line-height: 140%;
  overflow: auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.cake-stack-trace a {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 4px 10px 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
  position: relative;
  overflow: auto;
}
.cake-context {
  margin-bottom: 10px;
}
.cake-stack-trace pre {
  color: #000;
  background-color: #F0F0F0;
  margin: 0px 0 10px 0;
  padding: 1em;
  overflow: auto;
  text-shadow: none;
}
.cake-stack-trace li {
  padding: 10px 5px 0px;
  margin: 0 0 4px 0;
  font-family: monospace;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -wekbkit-border-radius: 4px;
  border-radius: 4px;
  background: @inputactionsabackgroundimageto-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@inputactionsabackgroundimagefrom-color), to(@inputactionsabackgroundimageto-color));
  background-image: -webkit-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -moz-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -ms-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: -o-linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
  background-image: linear-gradient(top, @inputactionsabackgroundimagefrom-color, @inputactionsabackgroundimageto-color);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}
.cake-code-dump .code-highlight {
  display: block;
  background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
  padding-left:5px;
  display:block;
  margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
  background:#ecc;
}
.code-coverage-results div.covered span.content {
  background:#cec;
}
.code-coverage-results div.ignored span.content {
  color:#aaa;
}
.code-coverage-results span.line-num {
  color:#666;
  display:block;
  float:left;
  width:20px;
  text-align:right;
  margin-right:5px;
}
.code-coverage-results span.line-num strong {
  color:#666;
}
.code-coverage-results div.start {
  border:1px solid #aaa;
  border-width:1px 1px 0px 1px;
  margin-top:30px;
  padding-top:5px;
}
.code-coverage-results div.end {
  border:1px solid #aaa;
  border-width:0px 1px 1px 1px;
  margin-bottom:30px;
  padding-bottom:5px;
}
.code-coverage-results div.realstart {
  margin-top:0px;
}
.code-coverage-results p.note {
  color:#bbb;
  padding:5px;
  margin:5px 0 10px;
  font-size:10px;
}
.code-coverage-results span.result-bad {
  color: #a00;
}
.code-coverage-results span.result-ok {
  color: #fa0;
}
.code-coverage-results span.result-good {
  color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
  display:none;
}

.collapsibleAction{
  padding-right: 40px;
}

.collapsibleAction a{
  text-decoration: none;
}

.collapsibleActionHide{

  display: none;
}

.reorderAction{
  padding-left: 18px;
}
